html, body, #app{
  height: 100%;
}

body {
  background-color: #f3f4f7;
}

.card{
  background-color: #fff;
}

.container-x{
  padding-left: 10px;
  padding-right: 10px;
}

.container-y{
  padding-top: 10px;
  padding-bottom: 10px;
}

.container-xy{
  padding: 10px;
}

/* 颜色集合：使用framework7的颜色集合 */
.c-gray{ color: #8e8e93; }
.c-white{ color: #ffffff; }
.c-black{ color: #000000; }
.c-lightblue{ color: #5ac8fa; }
.c-yellow{ color: #ffcc00; }
.c-orange{ color: #ff9500; }
.c-pink{ color: #ff2d55; }
.c-blue{ color: #007aff; }
.c-green{ color: #4cd964; }
.c-red{ color: #ff3b30; }

/* 字体大小 */
.f8{ font-size: 8px; }
.f10{ font-size: 10px; }
.f12{ font-size: 12px;}
.f14{ font-size: 14px;}
.f16{ font-size: 16px; }
.f18{ font-size: 18px; }
.f20{ font-size: 20px; }